<div
<%= @list.name %>
class="card-category"
style="background-image: linear-gradient(rgba(0,0,0,0.3), hsla(0, 0.00%, 0.00%, 0.30)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
<p><%= @list.name %></p>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Movie Title</h2>
    <p>description of this movie <strong>relevant info</strong> only.</p>
  </div>
</div>
<%= link_to "Home", lists_path, class: "btn btn-ghost" %>
